{% extends '@!OroDashboard/Index/default.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <!-- TEST -->
    <div><p style="color:red;"> this is a weeping twig, an override in which to weep </p></div>
    <!-- TEST -->
{% endblock breadcrumb %}